$white: #f2f2f2;
$lightGray: #8a8a8c;
$darkGray: #1c1c1e;
$black: #060100;
$lightBlue: #0a84ff;
$darkBlue: #0d6ddd;
$pink: #ec699f;


// Exchange
$baseBackground: $black;
$quoteBackground: $darkGray;
